.zones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 7%;
}

.zones__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0 18%;
}

.zones-block__link {
  position: relative;
  display: block;
  padding: 10px 20px;
  min-width: 100px;

  @include font-height(9px, 12px);
  font-weight: 400;
  color: $text-style-1;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.6px;

  opacity: 0.6;

  transition: all 0.3s;
  z-index: 4;
}

.zones-block__link::after {
  content: "";
  position: absolute;
  margin-left: -20px;
  margin-top: -10px;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 20px;
  box-shadow: 0 0 40px 20px rgba(0, 185, 255, 0.4),
    inset 0 0 30px rgba(0, 185, 255, 0.4);
  opacity: 0;
  border-radius: 25px;
  z-index: -1;
}

.zones-block__text {
  margin: 0;
  position: relative;
  display: block;
  padding: 10px 20px;
  min-width: 100px;

  @include font-height(12px, 12px);
  font-weight: 400;
  color: $text-style-1;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.6px;

  z-index: 3;
  opacity: 0.6;
}

.zones__visual {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

  opacity: 0;

  transition: all 0.2s;
}

.zones__top-zone .zones-block__text--profile {
  left: 8%;
}

.zones__top-zone .zones-block__text--fullface {
  left: -2%;
  top: 8px;
}

.zones__forehead .zones-block__link {
  font-size: 12px;
}

.zones__forehead .zones-block__link--profile {
  left: 24%;
  top: -8px;
}

.zones__forehead .zones-block__link--fullface {
  top: 2px;
  left: -31px;
}

.zones__eyebrow {
  margin-top: 6px;
  top: 15px;
}

.zones__eyebrow .zones-block__link--profile {
  left: 24%;
  top: 4px;
}

.zones__eyebrow .zones-block__link--fullface {
  left: 8%;
  top: 10px;
}

.zones__ear {
  margin-top: 32px;
}

.zones__ear .zones-block__link--profile {
  left: -10%;
}

.zones__ear .zones-block__link--fullface {
  left: -28%;
  top: 20px;
  z-index: 5;
}

.zones__eye {
  margin-top: -10px;
}

.zones__eye .zones-block__link--profile {
  left: 20%;
  top: 5px;
}

.zones__eye .zones-block__link--fullface {
  top: 15px;
  left: -14%;
  z-index: 5;
}

.zones__middle-zone {
  margin-top: -10px;
}

.zones__middle-zone .zones-block__text--profile {
  left: 5%;
  top: -44px;
}

.zones__middle-zone .zones-block__text--fullface {
  left: -3%;
  top: 5px;
}

.zones__nose {
  margin-top: 4px;
}

.zones__nose .zones-block__link--profile {
  left: 30%;
  top: 0;
}

.zones__nose .zones-block__link--fullface {
  left: -4.4%;
  top: 8px;
}

.zones__bottom-zone {
  margin-top: 20px;
}

.zones__bottom-zone .zones-block__text--profile {
  left: 9%;
  top: 3px;
}

.zones__bottom-zone .zones-block__text--fullface {
  left: -3%;
  top: 0;
}

.zones__lip {
  margin-top: 6px;
}

.zones__lip .zones-block__link {
  z-index: 6;
}

.zones__lip .zones-block__link--profile {
  left: 26%;
  top: -20px;
}

.zones__lip .zones-block__link--fullface {
  left: -4.4%;
}

.zones__jaw {
  margin-top: -40px;
}

.zones__jaw .zones-block__link--profile {
  left: 10%;
  top: 5px;
}

.zones__jaw .zones-block__link--fullface {
  top: 14px;
  left: 7%;
}

.zones__chin {
  margin-top: 22px;
}

.zones__chin .zones-block__link--profile {
  top: -18px;
  left: 21%;
}

.zones__chin .zones-block__link--fullface {
  top: 12px;
  left: -4.4%;
}

.zones__forehead .zones__visual {
  height: 260px;
  top: -112px;
  background-image: url(/public/assets/images/robot-hover/forhead-hover-robot.png);
}

.zones__eyebrow .zones__visual {
  height: 110px;
  top: -28px;
  background-image: url(/public/assets/images/robot-hover/eyebrow-hover-robot.png);
}
.zones__ear .zones__visual {
  height: 185px;
  top: -41px;
  background-image: url(/public/assets/images/robot-hover/ear-hover-robot.png);
}

.zones__eye .zones__visual {
  height: 185px;
  top: -41px;
  background-image: url(/public/assets/images/robot-hover/eye-hover-robot.png);
}

.zones__nose .zones__visual {
  height: 250px;
  top: -126px;
  background-image: url(/public/assets/images/robot-hover/nose-hover-robot.png);
}

.zones__lip .zones__visual {
  height: 190px;
  top: -82px;
  background-image: url(/public/assets/images/robot-hover/lip-hover-robot.png);
}

.zones__jaw .zones__visual {
  height: 276px;
  top: -106px;
  background-image: url(/public/assets/images/robot-hover/jaw-hover-robot.png);
}

.zones__chin .zones__visual {
  height: 205px;
  top: -88px;
  background-image: url(/public/assets/images/robot-hover/chin-hover-robot.png);
}

//  hover not active

.zones-block__link:hover,
.zones-block__link:focus,
.zones-block__link:hover::after,
.zones-block__link:focus::after,
.zones-block__link:hover ~ .zones__visual,
.zones-block__link:focus ~ .zones__visual,
.zones-block__link.hover,
.zones-block__link.hover::after {
  opacity: 1;
}

// selected

.zones__block.selected .zones__visual,
.zones__block.done.selected .zones__visual {
  opacity: 0.6;
  z-index: 2;
}

.zones__block.selected .zones-block__link,
.zones__block.selected .zones-block__text {
  opacity: 0;
}

//  done
.zones__block.done .zones__visual {
  opacity: 1;
  z-index: 2;
  background-position: 0 0;
}

.done:not(.selected) .zones-block__link:hover ~ .zones__visual,
.done:not(.selected) .zones-block__link:focus ~ .zones__visual {
  opacity: 0;
}
.zones__forehead.done .zones__visual,
.zones__forehead.selected .zones__visual {
  height: 160px;
  top: -56px;
  background-image: url(/public/assets/images/robot-done/forhead.png);
}

.zones__eyebrow.done .zones__visual,
.zones__eyebrow.selected .zones__visual {
  height: 85px;
  top: 0;
  background-image: url(/public/assets/images/robot-done/eyebrown.png);
}

.zones__ear.done .zones__visual,
.zones__ear.selected .zones__visual {
  height: 130px;
  top: -6px;
  background-image: url(/public/assets/images/robot-done/ear.png);
}

.zones__eye.done .zones__visual,
.zones__eye.selected .zones__visual {
  height: 80px;
  top: -28px;
  background-image: url(/public/assets/images/robot-done/eye.png);
  z-index: 3;
}

.zones__nose.done .zones__visual,
.zones__nose.selected .zones__visual {
  height: 140px;
  top: -72px;
  background-image: url(/public/assets/images/robot-done/nose.png);
}

.zones__lip.done .zones__visual,
.zones__lip.selected .zones__visual {
  height: 120px;
  top: -81px;
  background-image: url(/public/assets/images/robot-done/lip.png);
  z-index: 3;
}

.zones__jaw.done .zones__visual,
.zones__jaw.selected .zones__visual {
  height: 269px;
  top: -94px;
  background-image: url(/public/assets/images/robot-done/jaw.png);
}

.zones__chin.done .zones__visual,
.zones__chin.selected .zones__visual {
  height: 106px;
  top: -45px;
  background-image: url(/public/assets/images/robot-done/chin.png);
}

.zones__bottom-zone.done .zones__visual,
.zones__bottom-zone.selected .zones__visual {
  height: 200px;
  top: 10px;
  background-image: url(/public/assets/images/robot-done/bottom-zone.png);
}

.zones__middle-zone.done .zones__visual,
.zones__middle-zone.selected .zones__visual {
  height: 180px;
  top: -51px;
  background-image: url(/public/assets/images/robot-done/midle-zone.png);
}

.zones__top-zone.done .zones__visual {
  height: 280px;
  top: -69px;
  background-image: url("/public/assets/images/robot-done/top-zone.png");
}

.zones__jaw.selected .zones__visual {
  opacity: 1;
  background-image: url("/public/assets/images/robot-selected/jaw-selected.png");
}

@media all and (max-width: $big-tablet-width) {
  .zones__block {
    padding: 0 15.5%;
  }

  .zones-block__link,
  .zones-block__text {
    padding: 6px 20px;
  }

  .zones__ear {
    margin-top: 21px;
  }

  .zones__eyebrow {
    margin-top: 10px;
  }

  .zones__middle-zone,
  .zones__nose {
    margin-top: 0;
  }

  .zones__nose .zones-block__link--fullface,
  .zones__chin .zones-block__link--fullface {
    left: -5%;
  }

  .zones__bottom-zone {
    margin-top: 9px;
  }

  .zones__forehead .zones__visual {
    top: -83px;
  }

  .zones__eye .zones__visual {
    top: -26px;
  }
  .zones__ear .zones__visual {
    top: -34px;
  }
  .zones__nose .zones__visual {
    top: -100px;
  }

  .zones__lip .zones__visual {
    top: -62px;
  }
  .zones__jaw .zones__visual {
    top: -72px;
  }

  .zones__chin .zones__visual {
    top: -65px;
  }

  .zones__top-zone.done .zones__visual,
  .zones__top-zone.selected .zones__visual {
    top: -54px;
    height: 170px;
  }

  .zones__forehead.done .zones__visual,
  .zones__forehead.selected .zones__visual {
    height: 120px;
    top: -42px;
  }

  .zones__eyebrow.done .zones__visual,
  .zones__eyebrow.selected .zones__visual {
    height: 65px;
    top: -8px;
  }

  .zones__eye.done .zones__visual,
  .zones__eye.selected .zones__visual {
    height: 65px;
    top: -19px;
  }

  .zones__middle-zone.done .zones__visual,
  .zones__middle-zone.selected .zones__visual {
    height: 120px;
    top: -44px;
  }

  .zones__nose.done .zones__visual,
  .zones__nose.selected .zones__visual {
    height: 115px;
    top: -58px;
  }

  .zones__chin.done .zones__visual,
  .zones__chin.selected .zones__visual {
    height: 80px;
    top: -26px;
  }

  .zones__jaw.done .zones__visual,
  .zones__jaw.selected .zones__visual {
    height: 205px;
    top: -57px;
  }

  .zones__bottom-zone.done .zones__visual,
  .zones__bottom-zone.selected .zones__visual {
    height: 200px;
    top: 12px;
  }

  .zones__lip.done .zones__visual,
  .zones__lip.selected .zones__visual {
    height: 90px;
    top: -58px;
  }
}

@media all and (max-width: $desktop-width) {
  .zones {
    padding-top: 8%;
  }

  .zones__block {
    padding: 0 14.5%;
  }

  .zones__forehead.done .zones__visual,
  .zones__forehead.selected .zones__visual {
    height: 120px;
    top: -46px;
  }

  .zones__eyebrow.done .zones__visual,
  .zones__eyebrow.selected .zones__visual {
    height: 65px;
    top: 0;
    margin-top: -2%;
  }

  .zones__ear.done .zones__visual,
  .zones__ear.selected .zones__visual {
    top: -5px;
  }
  .zones__chin.done .zones__visual,
  .zones__chin.selected .zones__visual {
    margin-top: -5%;
    top: 0;
  }

  .zones__lip.done .zones__visual,
  .zones__lip.selected .zones__visual {
    top: -60px;
  }

  .zones__bottom-zone.done .zones__visual,
  .zones__bottom-zone.selected .zones__visual {
    top: 5px;
  }

  .zones__ear {
    margin-top: 12px;
  }

  .zones__bottom-zone {
    margin-top: 3px;
  }

  .zones__eyebrow {
    margin-top: 0;
  }
}

@media all and (max-width: $tablet-width) {
  .zones {
    padding-top: 9.5%;
  }
  .zones__block {
    padding: 0 12%;
  }

  .zones__ear {
    margin-top: 0;
  }
  .zones__eye,
  .zones__middle-zone {
    margin-top: -10px;
  }
  .zones__nose {
    margin-top: -3px;
  }

  .zones__top-zone.done .zones__visual,
  .zones__top-zone.selected .zones__visual {
    top: -53px;
  }

  .zones__middle-zone.done .zones__visual,
  .zones__middle-zone.selected .zones__visual {
    top: -42px;
  }

  .zones__bottom-zone.done .zones__visual,
  .zones__bottom-zone.selected .zones__visual {
    top: -6px;
  }

  .zones__eyebrow.done .zones__visual,
  .zones__eyebrow.selected .zones__visual {
    margin-top: -4.8%;
  }

  .zones__nose.done .zones__visual,
  .zones__nose.selected .zones__visual {
    top: -55px;
  }

  .zones__lip.done .zones__visual,
  .zones__lip.selected .zones__visual {
    top: -67px;
  }

  .zones__ear.done .zones__visual,
  .zones__ear.selected .zones__visual {
    top: -14px;
  }

  .zones__eye.done .zones__visual,
  .zones__eye.selected .zones__visual {
    top: -28px;
  }

  .zones__jaw.done .zones__visual,
  .zones__jaw.selected .zones__visual {
    top: -61px;
  }

  .zones__chin.done .zones__visual,
  .zones__chin.selected .zones__visual {
    margin-top: -49px;
  }

  .zones__eyebrow .zones-block__link--profile {
    top: -17px;
  }

  .zones__ear .zones-block__link--profile {
    left: -2%;
  }

  .zones__eyebrow .zones-block__link--fullface {
    left: 6%;
    top: -17px;
  }

  .zones__eye .zones-block__link--profile {
    top: -6px;
  }
  .zones__eye .zones-block__link--fullface {
    top: -3px;
  }

  .zones__nose .zones-block__link--profile {
    left: 28%;
    top: -17px;
  }

  .zones__lip .zones-block__link--profile {
    top: -37px;
  }

  .zones__lip .zones-block__link--fullface {
    left: -6.4%;
    top: -21px;
  }

  .zones__forehead.done .zones__visual,
  .zones__forehead.selected .zones__visual {
    top: -50px;
  }

  .zones__middle-zone .zones-block__text--fullface {
    left: -4%;
    top: -2px;
  }

  .zones__chin .zones-block__link--fullface,
  .zones__nose .zones-block__link--fullface {
    left: -7%;
    top: -10px;
  }

  .zones__jaw .zones-block__link--profile {
    top: -9px;
  }
  .zones__bottom-zone .zones-block__text--profile {
    top: -19px;
  }

  .zones__chin .zones-block__link--profile {
    top: -37px;
  }
  .zones__bottom-zone .zones-block__text--fullface {
    left: -4%;
    top: -15px;
  }

  .zones__chin .zones-block__link--fullface {
    top: -25px;
  }

  .zones__jaw .zones-block__link--fullface {
    top: 0px;
    left: 4%;
  }

  .zones__top-zone .zones-block__text--fullface {
    left: -4%;
  }

  .zones__eyebrow .zones__visual {
    top: -36px;
  }

  .zones__eye .zones__visual {
    top: -35px;
  }

  .zones__nose .zones__visual {
    top: -87px;
  }

  .zones__chin .zones__visual {
    top: -79px;
  }
}
