// background-color
$style-color-1: #1ff531;
$style-color-2: #01bf11;
$bg-style-1: #7a818a;
$bg-style-2: #00baff;
$bg-style-3: #3f74c3;
$bg-style-4: #000000;
$bg-style-5: #00fcff;
$bg-style-6: #63686f;
$bg-style-7: #00eaff;
$bg-style-8: #3cd1f0;
$bg-style-9: #ae8a77;

// text-color
$text-style-1: #ffffff;
$text-style-2: #a7a7a7;
$text-style-3: #010101;
$text-style-4: #00f0ff;
$text-style-5: #000000;
$text-style-6: #00baff;

// for media
$desktop-width: 962px;
$tablet-width: 768px;
$big-tablet-width: 1280px;
